<ion-view view-title='SaberApp Pro' style="font-weight: bold;">
    <ion-content>
        <div class="container padding" style="margin-top: 45px;">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <a ng-click="home.irMenuEntrenamiento()" style="text-decoration: none; color: #666">
                            <i class="ion ion-clipboard" style="font-size: 70px;"></i>
                            <p style="font-size: 20px; font-weight: bold;">Entrenamiento</p>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <a style="text-decoration: none; color: #666">
                            <i class="ion ion-ios-paper-outline" style="font-size: 70px;"></i>
                            <p style="font-size: 20px; font-weight: bold;">Simulacro</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container padding">
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <a style="text-decoration: none; color: #666">
                            <i class="ion ion-trophy" style="font-size: 70px;"></i>
                            <p style="font-size: 20px; font-weight: bold;">Retos</p>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="text-center">
                        <a style="text-decoration: none; color: #666">
                            <i class="ion ion-arrow-graph-up-right" style="font-size: 70px;"></i>
                            <p style="font-size: 20px; font-weight: bold;">Resultados</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>	