.colorItemMenu
{
    background-color: #455a64 !important;
    color: #fff;
}

.colorIconosMenu
{
    color: #fff;
}

.ItemMenu{
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding: 16px;
    font-size: 15px;
    padding-left: 54px;
    text-decoration: none;
}

a.colorItemMenu:hover
{
    background-color: #78909c !important;
    color: #fff;
    cursor: pointer;
}

.sombra
{
    box-shadow: 0 -1px 5px 4px #666666;
    background-color: #0277bd !important;
}

.bar-menu
{
    display: flex;
    transform: translate3d(0,0,0);
    -moz-user-select: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    box-zizing: border-box;
    padding: 5px;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #0277bd !important;
    border-style: none;
    border-bottom: none;
    height: 50px;
    color: #fff;
}

.bar-titulo
{
    display: block;
    position: absolute;
    top: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    line-height: 47px;
    font-size: 20px;
    font-weight: bold;
}
